#map {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 150%;
  right: -130%;
  opacity: 0;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 70px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 70px 0px rgba(255,255,255,1);
box-shadow: 0px 0px 70px 0px rgba(255,255,255,1);
}

body {
  background: url("http://i.imgur.com/V2imST5.jpg") no-repeat center center fixed;
  background-size: cover;
}
/* .info {
  display: table;
  max-width: 150px;
  max-height: 300px;
 }*/

 #iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

 #start {
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
  z-index: 1;
 }

#text-input {
  text-align: center;
  height: 30px;
  width: 250px;
  border-radius: 15px;
  border: 3px solid #2980B9;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  outline: none;
}

#submit-button {
  margin-top: 5px;
  border-radius: 4px;
  background-color: #2980B9;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.gm-style-iw {
   width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 0 0;
}

.research {
  position: absolute;
  bottom: 10px;
  border-radius: 4px;
  background-color: #2980B9;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  opacity: 0;
  text-align: center;
  left: 42%;
  right: 42%;
}



