<form id="start" action="/" method="post">
  <input autocomplete="off" id="text-input" type="text" placeholder="Location" name="address">
  <br>
  <input id="submit-button" type="submit"  value="Take a Hike!">
</form>

<button class="research">Take Another Hike</button>
